nodered/data/flows.json
[
    {
        "id": "a4a734bbbdb1d330",
        "type": "tab",
        "label": "家電操作",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d7818fd86c8888e",
        "type": "http in",
        "z": "a4a734bbbdb1d330",
        "name": "照明",
        "url": "/light",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "3d9ec92a11ec6f8b"
            ]
        ]
    },
    {
        "id": "3d9ec92a11ec6f8b",
        "type": "change",
        "z": "a4a734bbbdb1d330",
        "name": "キー取得（照明）",
        "rules": [
            {
                "t": "set",
                "p": "payload.key",
                "pt": "msg",
                "to": "req.body.payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "484cdc85738c622d"
            ]
        ]
    },
    {
        "id": "484cdc85738c622d",
        "type": "change",
        "z": "a4a734bbbdb1d330",
        "name": "制御対象の指定（照明）",
        "rules": [
            {
                "t": "set",
                "p": "payload.machine",
                "pt": "msg",
                "to": "light",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.pattern",
                "pt": "msg",
                "to": "light",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.controller",
                "pt": "msg",
                "to": "payload.key",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.key",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 200,
        "wires": [
            [
                "40d5c477702ecfc9"
            ]
        ]
    },
    {
        "id": "40d5c477702ecfc9",
        "type": "function",
        "z": "a4a734bbbdb1d330",
        "name": "変換",
        "func": "// define table\n/*\n  [注意]\n  on, off, nightは、リクエスト時にpayloadとして送信する値（msg.req.body.payload）と一致するように設定してください。\n*/\nconst replace_table = {\n    'light': {\n        'on': {\n            'command': 'on',\n            'message': '照明ON',\n        },\n        'off': {\n            'command': 'off',\n            'message': '照明OFF',\n        },\n        'night': {\n            'command': 'night_light',\n            'message': 'こだまにする',\n        },\n    },\n};\nconst pattern_table = {\n    'light': '照明',\n};\n\n// get request data\nconst controller = msg.payload.controller;\nconst pattern = msg.payload.pattern;\nconst machine = msg.payload.machine;\nconst request = replace_table[pattern];\n// set payload data\nif (controller in request) {\n    msg.payload = request[controller];\n    msg.statusCode = 200;\n}\nelse {\n    const target = pattern_table[pattern];\n    msg.payload = {\n        'message': `[${target}]Invalid request`,\n    };\n    msg.statusCode = 400;\n}\nmsg.payload['machine'] = machine;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 340,
        "wires": [
            [
                "23dec661e67b10de"
            ]
        ]
    },
    {
        "id": "23dec661e67b10de",
        "type": "json",
        "z": "a4a734bbbdb1d330",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 340,
        "wires": [
            [
                "f75f589dca9fcd48"
            ]
        ]
    },
    {
        "id": "f75f589dca9fcd48",
        "type": "change",
        "z": "a4a734bbbdb1d330",
        "name": "ヘッダの設定",
        "rules": [
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json; charset=utf-8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 340,
        "wires": [
            [
                "08f00876b45acd6d"
            ]
        ]
    },
    {
        "id": "08f00876b45acd6d",
        "type": "http request",
        "z": "a4a734bbbdb1d330",
        "name": "赤外線制御サーバ",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://infrared_controller:8180",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 830,
        "y": 460,
        "wires": [
            [
                "5b6533ec1688cbdb"
            ]
        ]
    },
    {
        "id": "5b6533ec1688cbdb",
        "type": "change",
        "z": "a4a734bbbdb1d330",
        "name": "データの集約",
        "rules": [
            {
                "t": "set",
                "p": "result",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "0ca4554b0894046e"
            ]
        ]
    },
    {
        "id": "0ca4554b0894046e",
        "type": "change",
        "z": "a4a734bbbdb1d330",
        "name": "responseデータ作成",
        "rules": [
            {
                "t": "set",
                "p": "statusCode",
                "pt": "msg",
                "to": "result.status_code",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "result.message",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "result",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 640,
        "wires": [
            [
                "5d1d9d253600837c"
            ]
        ]
    },
    {
        "id": "5d1d9d253600837c",
        "type": "http response",
        "z": "a4a734bbbdb1d330",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 1420,
        "y": 640,
        "wires": []
    },
    {
        "id": "13e5df8e471fa1d7",
        "type": "comment",
        "z": "a4a734bbbdb1d330",
        "name": "照明",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    }
]